<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Compra de Livro</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Compra de Livro</h1>
  <form id="compra-livro-form">
    <label for="livro-id">ID do Livro:</label>
    <input type="number" id="livro-id" name="livro-id" required>
    <label for="exemplares">Quantidade:</label>
    <input type="number" id="exemplares" name="exemplares" required>
    <button type="submit">Comprar</button>
  </form>

  <div class="livros-container" id="livros-lista"></div>

  <script>
    // Função para carregar todos os livros
    function carregarLivros() {
      fetch('/livros') // Rota para listar todos os livros
        .then(response => response.json())
        .then(data => {
          console.log(data)
          const livrosLista = document.getElementById('livros-lista');
          livrosLista.innerHTML = ''; // Limpa a lista anterior
          data.forEach(livro => {
            const div = document.createElement('div');
            div.className = 'livro-item';
            div.innerHTML = 
            `
              <img src="${livro.imagem}" alt="${livro.titulo}" style="max-width: 150px; max-height: 200px;"/>
              <strong>ID do Livro:</strong> ${livro.id}<br/>
              <strong>Título:</strong> ${livro.titulo}<br/>
              <strong>Autor:</strong> ${livro.autor}<br/>
              <strong>Gênero:</strong> ${livro.genero}<br/>
              <strong>Número de Exemplares:</strong> ${livro.exemplares}
            `;
            livrosLista.appendChild(div);
          });
        })
        .catch(error => console.error('Erro ao carregar lista de livros:', error));
    }

    // Função para processar a compra de livros
    document.getElementById('compra-livro-form').addEventListener('submit', function(event) {
      event.preventDefault();
      const id = document.getElementById('livro-id').value;
      const exemplares = document.getElementById('exemplares').value;

      fetch(`/livros/${id}/comprar`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ exemplares: exemplares })
      })
      .then(response => response.text())
      .then(message => {
        // Exibe mensagem de confirmação da compra
        alert(message);
        // Atualiza a lista de livros após a compra
        carregarLivros();
      })
      .catch(error => console.error('Erro ao comprar livro:', error));
    });

    // Chamada para carregar todos os livros inicialmente
    document.addEventListener('DOMContentLoaded', carregarLivros);
  </script>
</body>
</html>
