<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listar Livros</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Listagem de Livros</h1>
  <div class="livros-container" id="livros-lista"></div>

  <script>
    // Script para buscar e exibir a lista de livros
    fetch('/livros') // Rota para listar todos os livros
      .then(response => response.json())
      .then(data => {
        const livrosLista = document.getElementById('livros-lista');
        data.forEach(livro => {
          const div = document.createElement('div');
          div.className = 'livro-item';
          div.innerHTML = 
          // Adição das imagens, título, autor e gênero no front
          `
            <img src="${livro.imagem}" alt="${livro.titulo}"/>
            <strong>${livro.titulo}</strong><br/>
            ${livro.autor}<br/>
            ${livro.genero}
          `;
          livrosLista.appendChild(div);
        });
      })
      .catch(error => console.error('Erro ao carregar lista de livros:', error));
  </script>
</body>
</html>